go 1.25.4

use (
	.
	./benchmarks/benchviz
	./codegen
	./codegen/funcmaps
	./codegen/genapp
	./codegen/gentesting
	./codegen/templates-repo
	./errors
	./fixtures
	./genapi
	./genapi/generator/contrib
	./gendoc
	./gendoc/generator/contrib
	./genmodels
	./genmodels/contrib
	./genspec
	./genspec/scanner/contrib
	./go-swagger
	./go-swagger/examples
	./json
	./json/benchmarks
	./json/lexers/contrib
	./json/lexers/default-lexer/benchmarks/comparative
	./json/lexers/default-lexer/benchmarks/extras
	./json/lexers/default-lexer/examples
	./json/writers/contrib
	./jsonschema
	./mangling
	./runtime
	./runtime/client/middleware/contrib
	./runtime/consumers/contrib
	./runtime/producers/contrib
	./runtime/server/middleware/contrib
	./spec
	./spec/linter
	./spec/server
	./strfmt
	./strfmt/jsonschema-formats
	./stubs
	./swag
	./swag/conv
	./swag/fs
	./swag/loading
	./swag/pools
	./swag/stringutils
	./swag/typeutils
	./validate
)
