{{- define "docstring" }}
  {{- /* annotationsDocstring produces additional commment for the swagger generate spec command.

         Input: TargetSchema
  */}}
{{- if .NeedsType }}
  {{- if .IsBaseType }}
// swagger:discriminator {{ .Name }} {{ .DiscriminatorField }}
  {{- else }}
// swagger:model {{ .Name }}
  {{- end }}
{{- end }}
